[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.pidb
*.suo
*.user
*.userprefs
*.unityproj
*.booproj
*.svd
*.orig
*.bak
*.swp
*.tmp
*.pidb.meta
*.pdb
*.mdb
*.opendb
*.VC.db
*.VC.opendb
*.unitypackage
